/* start custom scss snippet */
.header__title {
    svg {
        height: 50px;
        width: auto;
        transition: transform 1s ease-in-out;
    }

    svg:hover {
        transform: rotate(720deg);
    }

    .home--button {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding: 0 8px;
        }
    }
}

#landing {
    .overlay__excerpt--home {
        border-top: solid;
        padding-top: 1rem;
        font-size: map-get($base, font-size-h3-xl);

        @include media-breakpoint-down(lg) {
            font-size: map-get($base, font-size-h3);
        }

        @include media-breakpoint-down(md) {
            font-size: map-get($base, font-size-h3-xs);
        }

        font-weight: map-get($base, font-weight-bold);
    }

    .hero__content__home {
        transition: all 0.7s ease-in-out;
        margin: 8rem;

        @include media-breakpoint-down(lg) {
            margin: 2rem;
        }
    }
}

#about {
    .competitions {
        tbody>tr:nth-child(odd) {
            background-color: #23262a;
        }

        thead {
            border-bottom: solid 2px rgba(210, 215, 217, 0.75);
        }

        tr {
            text-align: left;
        }

        * {
            border: none;
        }

        width: 100%;
        display: table;
    }
}

/* end custom scss snippet */
.item__content>header, .homepage__links {
    a:link {
        text-decoration: none !important;
    }

    a:visited {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
    }

    a:active {
        text-decoration: none !important;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient($main-color-1, $main-color-1);
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}

#homepage {

    .homepage__links {
        margin: 1rem;
    }

    @keyframes bg-animation {
        0% {
            background-position: left
        }

        50% {
            background-position: right
        }

        100% {
            background-position: left
        }
    }

    .content__wrapper {
        --gradient: linear-gradient(60deg, #4a86e8, purple, #4a86e8);
        // font-family: basic-sans, sans-serif;
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        line-height: 1.6;
        color: #333;
        background: #ddd;
        background-size: 300%;
        background-image: var(--gradient);
        animation: bg-animation 25s infinite;
    }

    .content {
        background: white;
        width: 70vw;
        padding: 3em;
        box-shadow: 0 0 3em rgba(0, 0, 0, .25);

        .title {
            margin: 0 0 .5em;
            // text-transform: uppercase;
            // font-weight: 900;
            color: #ee6352;
            margin: 0;
            font-size: map-get($base, font-size-h1-lg);
            background-image: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            // display: inline-block;
            background-size: 300%;
            transition: background-position 1s;

            @include media-breakpoint-down(lg) {
                font-size: map-get($base, font-size-h1-sm);
            }
        }
        @include media-breakpoint-down(md) {
            height: 210px;
            width: 90vw;
        }
        // .title:hover {
        //     background-position: right;
        // }
    }


}