---
layout: base
header: false
footer: false
full_width: true
---
{%- assign _page_mode = page.mode | default: layout.mode | default: site.data.variables.default.page.mode -%}
{%- assign _page_type = page.type | default: layout.type | default: site.data.variables.default.page.type -%}
{%- assign _article_header_type = page.article_header.type | default: layout.article_header.type -%}

{%- include snippets/assign.html
  target=layout.header source0=page.header -%}
{%- assign _header = __return -%}

{%- include snippets/assign.html
  target=layout.footer source0=page.footer -%}
{%- assign _footer = __return -%}

{%- include snippets/assign.html
  target=layout.lightbox source0=page.lightbox -%}
{%- assign _lightbox = __return -%}

{%- include snippets/assign.html
  target = site.data.variables.default.page.full_width
  source0=layout.full_width source1=page.full_width -%}
{%- assign _full_width = __return -%}

{%- include snippets/assign.html
  target = site.data.variables.default.page.comment
  source0=layout.comment source1=page.comment -%}
{%- assign _comment = __return -%}


{%- assign _article_header_excerpt_truncate = include.excerpt_truncate | default: 200 -%}

{%- if page.sidebar -%}
<div class="layout--page layout--page--sidebar clearfix js-page-root">
  <div class="page__mask d-print-none js-page-mask js-sidebar-hide"></div>
  <div class="page__viewport">
    <div class="page__actions d-print-none">
      <div class="button button--circle button--lg box-shadow-2 sidebar-button js-sidebar-show">
        <i class="fas fa-bars icon--show"></i>
      </div>
    </div>

    <div class="grid page__grid">

      <div class="page__sidebar d-print-none">
        {%- include sidebar/toc.html -%}
      </div>

{%- else -%}
<div class="layout--page js-page-root" id="homepage">
{%- endif -%}

    {%- assign _page_main_class = 'page__main js-page-main' -%}
    {%- if _page_mode == 'immersive' -%}
      {%- assign _page_main_class = _page_main_class | append: ' page__main--immersive' -%}
    {%- endif -%}
    {%- unless page.sidebar -%}
      {%- assign _page_main_class = _page_main_class | append: ' page__viewport' -%}
    {%- endunless -%}
    {%- if _footer == false -%}
      {%- assign _page_main_class = _page_main_class | append: ' hide-footer' -%}
    {%- endif -%}
    {%- if page.aside -%}
      {%- assign _page_main_class = _page_main_class | append: ' has-aside' -%}
    {%- elsif _full_width -%}
      {%- assign _page_main_class = _page_main_class | append: ' full-width' -%}
    {%- endif -%}
    <div class="{{ _page_main_class }} cell cell--auto">

      <div class="page__main-inner">
      {%- if _header != false -%}
        <div class="page__header d-print-none">
        {%- assign _header_theme = page.header.theme | default: layout.header.theme -%}
        {%- if _header_theme == 'dark'-%}
          {%- include header.html theme='dark' background=page.header.background -%}
        {%- elsif _header_theme == 'light' -%}
          {%- include header.html theme='light' background=page.header.background -%}
        {%- else -%}
          {%- include header.html -%}
        {%- endif -%}
        </div>
      {%- endif -%}
        <div class="page__content" >
          <div class="content__wrapper hero hero--center hero--dark overlay">
            <div class="content">
              <h1 class="title" id="typewriter"></h1>
              {%- if page.excerpt -%}
              <p class="overlay__excerpt--home">{{ page.excerpt }}</p>
              {%- endif -%}
            </div>

            {%- if page.links -%}
            <div class="homepage__links">
              <ul class="menu">
                {%- for _action in page.links -%}
                {%- include snippets/get-nav-url.html path=_action.url -%}
                {%- assign _url = __return -%}
                {%- assign _type = _action.type | default: 'info' -%}
                {%- if _action.mail -%}
                <li><a class="link-underline link-underline-black button--xl" href="mailto:{{ _action.url }}">{{ _action.text
                    }}</a>
                  {%- else -%}
                <li><a class="link-underline link-underline-black button--xl" href="{{ _url }}">{{ _action.text }}</a>
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
            </div>
            {%- endif -%}
          </div>
            
          <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
          <script type="text/javascript">
            const instance = new Typewriter('#typewriter', {
              loop: true,
            });
            instance.typeString("Hi, I'm <span style='color: #27ae60;'>Gabriel</span>")
              .pauseFor(4000)
              .deleteChars(7)
              .pauseFor(500)
              .typeString('<span style="color: #c83dfb;">baseq</span>')
              .pauseFor(4000)
              .start();
          </script>
        

        {%- if _full_width == false -%}
          <div class ="main">
        {%- endif -%}
            
        {%- if _full_width == false -%}
          </div>
        {%- endif -%}
        </div>

        {%- if _footer != false -%}
          <div class="page__footer d-print-none">{%- include footer.html -%}</div>
        {%- endif -%}
      </div>
    </div> {%- comment -%} end page__main {%- endcomment -%}
{%- if page.sidebar -%}
    </div> {%- comment -%} end grid {%- endcomment -%}
  </div> {%- comment -%} end page__viewport {%- endcomment -%}
{%- endif -%}

<script>{%- include scripts/lib/modal.js -%}</script>
{%- if _lightbox == true -%}
  <div class="modal d-print-none js-page-gallery-modal"><div class="gallery"></div></div>
{%- endif -%}
{%- if _header != false -%}
  <div class="modal modal--overflow page__search-modal d-print-none js-page-search-modal">{%- include search.html -%}</div>
{%- endif -%}
</div>


<script>
  {%- include scripts/lib/scroll-to.js -%}
  {%- include scripts/lib/affix.js -%}
  {%- include scripts/lib/toc.js -%}
  {%- if _lightbox == true -%}
    {%- include scripts/lib/gallery.js -%}
    {%- include scripts/components/lightbox.js -%}
  {%- endif -%}
  {%- include scripts/page.js -%}
</script>

{%- if page.sidebar -%}
<script>{%- include scripts/components/sidebar.js -%}</script>
{%- endif -%}

{%- if page.aside -%}
<script>
  /* toc must before affix, since affix need to konw toc' height. */
  {%- if page.aside.toc -%}{%- include scripts/aside/toc.js -%}{%- endif -%}
  {%- include scripts/aside/affix.js -%}
</script>
{%- endif -%}

{%- include markdown-enhancements.html -%}
{%- include pageview.html -%}
